@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    ViewData["Title"] = "Kontaktinformation";
}

<h1>Kontaktinformation</h1>

<div>
    <h2>Kantinens kontaktperson</h2>
    <p><strong>Navn:</strong> Karen Jensen</p>
    <p><strong>E-mail:</strong> karen.jensen@ibas.dk</p>
    <p><strong>Telefonnummer:</strong> 1234 5678</p>
</div>
