@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    table, th, td
        border: 1px solid black;
        font-size: 40px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45</h1>
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm ret</th>
            <th>Kold ret</th>
        </tr>
        <tr>
            <td>Man</td>
            <td>Kylling & pasta</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Tir</td>
            <td>Lasagne</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Ons</td>
            <td>Forloren hare</td>
        <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Tor</td>
            <td>Wok</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Fre</td>
            <td>Stegt flæsk</td>
            <td>Smørebrød</td>
    </table>
</div>
